* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    height: 100vw;
}

/*Menu*/
nav {
    position: fixed;
    width: 100%;
    background: #d089ff;
    color: #fff;
    padding: 1.5vw 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1.1vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5vw;
    display: inline-block;
    transition: all 300ms;
}

nav ul li a:hover {
  transform: scale(1.1);
}


/*Todas as Sessões*/
#home {
    background: #f1f1f1;
}

#sobre {
    background: #f1f1f1;
}

#formacao {
    background: #f1f1f1;
}

#portifolio {
    background: #f1f1f1;
}

#contato {
    background: #f1f1f1;
}

/*Home*/

#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo {
    width: 100%;
    height: 100vh;
    padding: 10px 20px;
}

.topo h1 {
    font-size: 3.3vw;
    padding: 10px;
}

h1 span {
    color: #d089ff;
}

.topo h2 {
    font-size: 2.1vw;
    padding: 10px;
    color: #d089ff;
}

.btn {
    margin-top: 15px;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: none;
    background: #d089ff;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1;
    transition: all 1s;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    transform: translateY(-10px);
}

.topo img {
    width: 32vw;
}


/*Sobre*/
#sobre {
    width: 100%;
    height: 100vh;
    padding-top: 6vw;
}

.secao2 .sobre h1 {
    font-size: 2.3vw;
    padding-top: 1.3vw;
    margin: 2.2vw;
    text-align: center;
}

.secao2 .sobre p {
    font-size: 1.4vw;
    padding-top: 10px;
    margin: 20px 60px;
}

.secao2 .hobbies h4 {
    margin-top: 3.5vw;
    padding-left: 2.5vw;
    font-size: 2.1vw;
    text-shadow: 2px 2px 4px #d089ff;
}

.secao2 .secao2-div-card p {
    font-size: 1vw;
    color: #000;
    line-height: 1.5;
    font-weight: 700;
}

.secao2 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao2-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.secao2-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    height: 14vw;
    margin: 1.2vw;
    padding: 2.1vw;
    box-shadow: 2px 2px 16px 0px #d089ff;
    border-radius: 1.2vw;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

.secao2 .secao2-div-card p {
    text-align: center;
    padding-top: 0.1vw;
    font-size: 1.5vw;
}

.secao2-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.secao2-div-card img {
    width: 8vw;
    height: auto;
}

.secao2-div-card h3 {
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .secao2-div-card {
        width: 100%;
    }
}

/*Formação*/
#formacao {
    width: 100%;
    height: 100vh;
    padding-top: 6vw;
}
.secao3 h1 {
    font-size: 2.3vw;
    padding-top: 1.3vw;
    margin: 2.2vw;
    text-align: center;
}

.text-principal {
    text-align: center;
    margin: 25px;
    font-size: 1.5vw;
}

.secao3 .sobre p {
    font-size: 2.5vw;
    padding-top: 10px;
    margin: 20px 60px;
}

.info h4 {
    margin-top: 2.5vw;
    padding-left: 2.5vw;
    font-size: 2.1vw;
    text-shadow: 2px 2px 4px #d089ff;
}

.secao3 .secao3-div-card p {
    font-size: 1vw;
    color: #000;
    padding: 15px;
    font-weight: 700;
}

.secao3 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao3-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.secao3-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    height: 14vw;
    margin: 1.2vw;
    padding: 2.1vw;
    box-shadow: 2px 2px 16px 0px #d089ff;
    border-radius: 1.2vw;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

.secao3 .secao3-div-card p {
    text-align: center;
    padding-top: 1.5vw;
    font-size: 1.3vw;
}

.secao3-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.secao3-div-card img {
    width: 7vw;
    height: auto;
}

@media (max-width: 768px) {
    .secao3-div-card {
        width: 100%;
    }
}

/*Portifólio*/
#portifolio {
    width: 100%;
    height: 100vh;
    padding-top: 6vw;
}
.secao4 h1 {
    font-size: 2.3vw;
    padding-top: 1.3vw;
    margin: 2.2vw;
    text-align: center;
}

.todos-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 1px 2em;
}
.card{
    width: 16vw;
    height: 14vw;
    max-width: 15vw;
    border-radius: 1.2vw;
    background: #ccc;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: #ffffff;
    box-shadow: 0 20px 30px #d089ff;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card, .card *{
    box-sizing: block;
    transform: 400ms;
    transition: all 0.5s ease;
}
.cards {
    display: block;
    width: 100%;
    height: auto;
}

.card-title{
    text-align: center;
    margin-top: 8px;
    font-size: 1.3vw;
    font-weight: 600;
}

.card-content{
    position: relative;
    bottom: 20px;
    text-align: center;
    font-size: 1.3vw;
    opacity: 0;
}
.card:hover .cards {
    transform: translateY(-48px);
}

.card:hover .card-content{
    opacity: 1;
}

@media (max-width: 768px) {
    .todos-cards {
        width: 100%;
    }
}

/*Contato*/
#contato {
    width: 100%;
    height: 100vh;
    padding-top: 6vw;
}

.secao5 h1 {
    font-size: 2.3vw;
    text-align: center;
    padding: 1.1vw;
}

.form-container {
    max-width: 60vw;
    max-height: 60vw;
    margin: 0 auto;
    padding: 1em 2em 1px 2em;
    border-radius: 7px;
    box-shadow: 0 20px 20px #d089ff;
    background-color: #fff;
}

.form-container h2 {
    font-size: 2.2vw;
    margin-bottom: 20px;
    color: #d089ff;
    text-align: left;
}

form div {
    margin-bottom: 1.2vw;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 1.3vw;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 1.1vw;
    border: 4px solid #ddd;
    border-radius: 16px;
    box-sizing: border-box;
}

form textarea {
    height: 9vw;
    resize: vertical;
}

form button {
    background-color: #d089ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5vw;
}

form button:hover {
    background-color: #0056b3;
}

